@model EggheadWeb.Models.AdminModels.ResetPasswordForm
@{
    ViewBag.Title = "Reset password";
    ViewBag.TabTitle = "Reset password";
    Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
}
<h3>
    Reset password</h3>
<form action="@Url.RouteUrl("Admin", new { action = "reset-password" })" method="post">
<div class="box">
    <p id="emailinput">
        @Html.LabelFor(m => m.Email)
        <br />
        @Html.TextBoxFor(m => m.Email, new { @class = "full" });
        @Html.ValidationMessageFor(m => m.Email)
    </p>
    <p>
        <input type="submit" class="btn" value="Send" />
    </p>
</div>
</form>
