Dear parent,
<br />
<p>
    We would like to inform you that your passord has been reset at your request. Your
    new password is : @ViewBag.NewPassword
</p>
<p>
    For your rights and safety, we suggest you to change your password imediately after
    next login.
</p>
<br />
Thanks you very much. 