@using EggHeadWeb.DatabaseContext;
@using EggheadWeb.Models.Common
<span style="float:right;">
    Show @Html.DropDownList("itemsPerPage", SelectLists.ItemsPerPages(new EggheadContext()))
    Items
</span>