@model EggheadWeb.Models.Common.ResetPasswordForm
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_ParentLoginLayout.cshtml";
}
<div class="" style="width:400px; width:auto 0px; margin-left:250px;margin-top:100px">
    <form action="@Url.RouteUrl("Users", new { action = "password-reset" })" method="post">
        <span style="font-weight:bold">RESET PASSWORD</span>
        <div style="min-height: 80px;">
            <table>
                <tr>
                    <td style='vertical-align: middle; text-align: right'>
                        Your email:
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Email, new { @style = "width: 250px;" })
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        @if (ViewBag.Message != null)
                        {
                            <div style="color: Blue;">
                                @ViewBag.Message
                            </div>
                        }
                        else
                        {
                            @Html.ValidationMessage("", new { @style = "color:Red;" })
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="submit" class="btn btn-big" value="Send" style="float: right;" />
                    </td>
                </tr>
            </table>
            <div style="width: 330px; height: 30px; text-align: right;">
            </div>
        </div>
    </form>
</div>
